
@import 'partial/variables';
@import 'partial/mixing';
@import 'partial/common';
@import 'partial/reset';
@import 'partial/header';
@import 'partial/top-strip';
@import 'partial/menu';
@import 'partial/slider';
@import 'partial/body-content';
@import 'partial/aboutus';
@import 'partial/strategies';
@import 'partial/contactus';
@import 'partial/banner-text';
@import 'partial/button';
@import 'partial/footer';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');