// Body color
$colorBlack: #000000;
$colorLightBlack: #282828;
$colorWhite: #ffffff;
$colorYellowHover: #FFBB31;
$colorYellow: #CA9628;

// Typography color
$colorParagraph: #767575;

// Form Color
$colorFormBorder: #898989;
$colorCheckboxBorder: #4E4C4B;
$form_field_height: 40px;
