<app-header></app-header>
<section class="bannerWrap">
    <div class="row">
        <div class="col-12 col-lg-5">                
            <div class="bannerImgBlock">
                <img src="assets/images/banner/1.jpg" alt="Banner" class="img-fluid" />
            </div>
        </div>
        <div class="col-12 col-lg-7">
            <div class="contentBlock">
                <h1>En Fait, <span>En Suisse</span></h1>
                <p>We believe in traditional financial values of prudence, discretion and ultimately performance.</p>
                <div class="buttons">
                    <a href="#getstart">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="swissTrust">
    <div class="container">
        <div class="row">
            <div class="col-12"> 
                <div class="contentBlock">
                    <h2>What is a Swiss Trust?</h2>
                    <p>The world's most dynamic and discreet corporate vehicle, a Swiss Private Trust company is an elegant solution to an timeless problem; confidentiality. Unique legislation and straightforward regulations make Swiss PTCs virtually anonymous and ageless.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="corporateVehicle">
    <div class="container">        
        <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <div class="row">
                    <div class="col-12 col-lg-8"> 
                        <div class="contentBlock">
                            <h3>{{ slide.heading }}</h3>
                            <p>{{ slide.para }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4"> 
                        <div class="contentimgBlock">
                            <img src="{{ slide.img }}" alt="Banner" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</section>

<section class="trustsAnglo">
    <div class="container">
        <div class="row">
            <div class="col-12"> 
                <div class="contentBlock">
                    <h2>Differences between Swiss</h2>
                    <h4>Trusts & Anglo Saxon Trusts</h4>
                    <p>Anglo-Saxon trusts and Swiss trusts are two different types of legal arrangements used for asset protection and estate planning. Here are some key differences between the two:</p>
                </div>
            </div>
            <div class="col-12">  
                <div class="contentimgBlock">
                    <img src="assets/images/trustsAnglo.jpg" alt="Banner" class="img-fluid" />
                    <p>Legal System: Anglo-Saxon trusts are based on common law, which is the legal system used in countries such as the United Kingdom, the United States, Canada, and Australia. In contrast, Swiss trusts are based on civil law, which is the legal system used in countries such as Switzerland, France, and Germany.</p>
                </div>
                <div class="buttons">
                    <a routerLink="/swiss-trust">Difference between a PTC & Swiss Trust</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-contact-us-page></app-contact-us-page>