<section class="bannerWrap">
    <div class="container">
        <div class="bannerItems">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="bannerTextBlock">
                        <h1>Helvetia Capital Trust AG</h1>
                        <h3 class="">Discreet. Dynamic. Dependable.</h3>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="bannerImgBlock">
                        <img src="assets/images/01.jpg" alt="Swiss Finance" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
        <div class="bannerItems">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="bannerTextBlock">
                        <h1>Swiss Souls with Global Footprints</h1>
                        <h3>Simplifying Finance through Technology.</h3>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="bannerImgBlock">
                        <img src="assets/images/02.jpg" alt="Swiss Souls" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bannerItems">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="bannerTextBlock">
                        <h1>A Trust Based Economy.</h1>
                        <h3>Good faith enables Great Returns.</h3>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="bannerImgBlock">
                        <img src="assets/images/03.jpg" alt="Swiss Souls" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>