*{ margin: 0; padding: 0; border: none; box-sizing: border-box;}
*::first-letter{
    text-transform: uppercase;
}
body{    
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0px;
}
p{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    @include min_max_width(0px, 767px){
        font-size: 25px;  
    }  
}
h1{
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 104.52%;
    
    @include min_max_width(0px, 767px){
        font-size: 60px;  
    }   
}
h2{
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px; 
}
h4{    
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}
.ptb-200{
    padding-top: 200px;
    padding-bottom: 200px;
}
article{
    position: relative;
    z-index: 1;
}
.pt-4rem{
    padding-top: 4.5rem;
}
