// @import url('http://fonts.cdnfonts.com/css/clash-display');
*{margin:0; padding:0; box-sizing: border-box; 
    word-wrap: break-all;}
// font-family: 'Clash Display', sans-serif;
// font-family: 'Poppins', sans-serif;

// @font-face {
//     src: url(../fonts/PlusJakartaSans-ExtraBold.ttf);
//     font-family: ExtraBold;
// }

*::first-letter{
    text-transform: uppercase;
}
body
{
    font-size: 100%;
    margin:0;
    padding:0;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: $colorBlack;
    background-color: #020202;   
}
.container
{
    // max-width:$container_width;
}
h2, h3
{
    font-family: 'Clash Display', sans-serif;
    color: $colorWhite;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;  
    text-transform: capitalize;
    
}
.transparentTextBg{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;  
    display: block;
}
h2
{ 
    
    @include min_max_width(0px, 767px){ 
        
    } 
}
h4
{ 
   
    @include min_max_width(0px, 767px){
       
    }
} 
p
{
    
    @include min_max_width(0px, 767px){
       
    }
    
    @include min_max_width(0px, 767px){ 
        
    } 
}
.typography{
    z-index: 999;
    position: relative;
}