$colorBlack:#000000;
$colorWhite:#fff;
$interFontFamily: 'Inter', sans-serif;
$colorCharcoal: #223451;
// Common Color

// Buttons
$btnBgColor:#9C0006;
$btnPadding: 12px 32px;
$btnWidth: 187px;
$btnHeight: 57px;

$mediaBtnWidth: 170px;



// Top Bar
$min_height: 80px;
$m_top:2rem;
$m_tb:4rem 0;
