<nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navigation">
                    <div class="navLeft">
                        <a href="">
                            <img src="assets/images/logo.png" alt="Logo" class="img-fluid" />
                        </a>
                    </div>
                    <div class="navRight">
                        <!-- <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Our Works</a></li>
                            <li><a href="">Contact</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>