<section class="whatWeDo">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bodyTextBlock">
                    <h1>We help your money <span>make you money.</span></h1>
                    <h3>Turn publicly available information into <span>consumable financial intelligence.</span></h3>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-4 pt-md-4 mb-md-4 pb-md-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-7">
                <div class="leftBlock whatWeDoText">
                    <p>A tightly knit team with backgrounds in pure finance; we dive deep into your proposed hypothesis.</p>

                    <p>We apply Swiss financial pragmatism and Californian technical perfectionism, helping you deploy capital with conviction.</p>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="rightBlock">
                    <img src="assets/images/plane.jpg" alt="Swiss Finance" class="img-fluid" />
                </div>
            </div>
            <div class="col-12 mt-lg-5 pt-lg-5">
                <h3>Let us tell you a typical example <span>of what we do during the day.</span></h3>
            </div>
        </div>
    </div>
</section>

<section class="mt-md-4 pt-md-4 mb-4 pb-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="textContent">
                    <p>A client approaches us with his hypothesis that since ChatGPT reached 1 Million users in 5 days; artificial intelligence companies are the next big moneymakers.</p>

                    <img src="assets/images/img1.jpg" alt="Swiss Finance" class="img-fluid mb-lg-5 pb-4 w-100" />
                   
                    <p class="mb-2">However; most "Artificial Intelligence"</p>
                    <p class="mb-md-5">companies are private at the moment.</p>
                    <p class="">But there does exist a supply chain via which to capture the prospective returns from the growth of this market.</p>

                    <p class="mt-2">Graphical Processing Units. GPUs. Graphics Cards. The GPU is the building block of the Artificial Intelligence industry.</p>

                    <p class="mb-2">It is the brick.</p>
                    <p class="">Ideologically; we love the idea of investing at the infrastructure level.</p>
                    <img src="assets/images/img2.jpg" alt="Swiss Finance" class="img-fluid mb-lg-5 pb-5 w-100" />

                    <p class="">So we got to work.</p>

                    <p class="">We conducted research on what GPU companies are publicly traded; and which ones are not.</p>

                    <p class="">For the publicly traded ones like NVIDIA/Intel/AMD, we found the most cost efficient means of allocating capital towards the stock.</p>

                    <p class="">For the private ones like Habana | Cerebras | TensTorrent | Samba Nova → we built sophisticated pricing models to value the companies.</p>

                    <p class="">For both the above; we built comprehensive situational analyses; giving our client a detailed and thorough overview of the entire
                    <span>GPU market.</span></p>

                    <p class="">We used game theory to simulate the performance of the
                    portfolio in various market conditions.</p>

                    <p class="">In short; we presented data to our clients that either validate or vilify their investment theories.</p>

                     <p class="mb-0">Because we're in Swiss, we work in Finance and this is how you build Trust.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-subscribe></app-subscribe>