.bannerWrap{
    position: relative;
    overflow: hidden;
    .bannerImgBlock{
    }
    .row{
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);;
        align-items: center;
        .contentBlock{
            padding-left: 60px;
            p{
                width: 60%;
                margin: 35px 0;
            }
        }
    }
}