.swissTrust{
    display: block;
    margin: 200px 0 80px;
    h2, p{
        // text-align: center;
    }
    @include min_max(0px, 767px){ 
        margin: 40px 0 20px;
    }
}
.corporateVehicle{
    width: 100%;
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 169%;
    }
    .row{
        align-items: center;
    }
    .contentBlock{
        @include min_max(0px, 767px){ 
            // text-align: center;
        }
    }
}

.trustsAnglo{    
    width: 100%;
    margin: 150px 0;
    @include min_max(0px, 767px){         
        margin: 40px 0;
    }
    .contentBlock{
        p{
            width: 60%;
            @include min_max(0px, 767px){
                width: 100%;
            }
        }
    } 
    .contentimgBlock{
        p{
            // text-align: center;
        }
    }
    .buttons{
        margin: 100px auto;
        box-shadow: 0px 36px 100px rgba(175, 124, 40, 0.37);
        @include min_max(0px, 767px){         
            margin: 40px 0;
        }
        a{
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 130%;
            padding: 30px 70px;
            
            @include min_max(0px, 767px){                  
                font-size: 18px;
                padding: 22px 12px;
            }
        }
    }
}
.contactFormWrap{
    width: 100%;
    .row{
        align-items: center;
    }
    .buttons{
        margin: 40px 0;
        @include min_max(0px, 767px){ 
            margin: 40px auto;
        }
    }
}
.contactForm{
    form{
        width: 100%;
        font-family: $DMSans;
        input, textarea{
            background: #EFEFEF;
            border-radius: 5px;
            margin: 25px 0;
            display: block;
            width: 100%;
            padding: 25px 30px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            &:focus-visible{
                outline: none;
            }
        }
        button{
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 130%;
            color: #fff;
            padding: 17px 40px;
            display: block;
        }
    }
}
.swissTrust{
    margin: 40px 0;
    p{
        
    }
    h4{
        margin: 60px 0;
    }
}
.swissTrustContent{  
    margin: 40px 0;
    h4{
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 35px;
    }
}