<section id="menuPosition">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="menuNav">
                    <ul id="iconBar">
                        <li>
                            <img src="assets/images/bar-icon.png" alt="Menu" class="img-fluid d-block ms-auto" /> 
                            <ul  class="menuItems">
                                <li class="itemLinks">
                                    <a href="" data-section="homeSection">HOME</a>
                                </li>
                                <li class="itemLinks">
                                    <a  href="#" data-section="ourPastSection">OUR  PAST</a>
                                </li>
                                <li class="itemLinks">
                                    <a  href="#" data-section="ourFutureSection">OUR  FUTURE</a>
                                </li>
                                <li class="itemLinks">
                                    <a  href="#">Tokens</a>
                                </li>
                                <li class="itemLinks">
                                    <a  href="#">Roadmap</a>
                                </li>
                                <li class="itemLinks">
                                    <a  href="#">Legal & Tech</a>
                                </li>
                                <li class="itemLinks">
                                    <a  href="#">Contact</a>
                                </li>
                            </ul>
                        </li>
                    </ul>                      
                </div>
            </div>
        </div>
    </div>
     
    
</section>