
.home_page
{
    background:url("../images/slider/01.jpg") no-repeat top center;
    background-size: cover;
} 
.home_page, .strategies, .about-us
{
    background-attachment: fixed;
    position: fixed;
    z-index: 98;
    width: 100%; 
    height: 100%;

    @include min_max_width(0px, 767px)
    {   
        position: relative;
        padding: 1rem 0;
    }
    @include min_max_width(768px, 991px) 
    {  
        background-size: cover; 

    }
    &::after
    {
        content: '';
        position: absolute;
        width:100%;
        height: 100%;
        background: url("../images/banner-bg.png");
        z-index: -99;
        top:0;
        left:0;
    }
}
.slider_wrap
{
   
    display: flex;
    z-index: 98;
    
    .banner_text_wrap
    {
        width: 100%;
        top: 70px;
        position: relative;
        display: flex;
        z-index: 100;
        
        @include min_max_width(0px, 767px)
        {  
            top:0;
        }
        p
        {
            color: rgba(255, 255, 255, 0.81);
        }
    }
}