.btn-group
{
    display: flex;
    margin-top: 70px;
    text-transform: capitalize;
    font-size: 20px;
    @include min_max_width(0px, 767px){ 
        flex-flow: row wrap;
    } 
}
.comm_btn
{   
    background: $btnBgColor;
    font-weight: 500;
    display: flex;
    justify-content:center;
    align-items: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 7px;
    width: $btnWidth;
    height: $btnHeight;
    
    @include min_max_width(0px, 767px){ 
        width: $mediaBtnWidth;
    }
    a
    {
        font-style: normal;
        color: $colorWhite;
        text-decoration: none;
        display: block;
        // padding: $btnPadding;
        @include min_max_width(0px, 767px){ 
            padding: 1.2rem 1.2rem;
        } 
    }
    &:hover
    {
        background-color: $hover;
    }
}
.btn-transparent
{
    box-sizing: border-box;    
    border: 2px solid $btnBgColor;
    border-radius: 7px; 
    justify-content:center;
    align-items: center;
    display: flex;
    width: $btnWidth;
    height: $btnHeight;
    @include min_max_width(0px, 767px){ 
        width: $mediaBtnWidth;
    }
    a
    {
        font-style: normal;
        font-weight: 700;
        color: $colorWhite;
        text-decoration: none;        
        // padding: $btnPadding;
        @include min_max_width(0px, 767px){ 
            padding: 1.2rem 1.2rem;
        } 
    }
}