.btn-group
{
    display: flex;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 20px;
}
.comm_btn
{   
    background: $btnBgColor;
    font-weight: 500;
    display: flex;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 7px;
    a
    {
        font-style: normal;
        color: $colorWhite;
        text-decoration: none;
        display: block;
        padding: 1.2rem 2.6rem;
    }
    &:hover
    {
        background-color: $hover;
    }
}
.btn-transparent
{
    box-sizing: border-box;    
    border: 2px solid $btnBgColor;
    border-radius: 7px; 
    justify-content:center;
    align-items: center;
    display: flex;
    a
    {
        font-style: normal;
        font-weight: 700;
        color: $colorWhite;
        text-decoration: none;
        padding:0 48px;
    }
}