// About us page
.listTabSerction{
    margin-top: 40px;
    .listTab{
        >ul{
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;
            @include min_max_width(0px, 767px){
                padding-left: 0;
            }
            li{                
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                color: #D9D9D9;
                margin-bottom: 40px;
                &:last-child{
                    margin-bottom: 0;
                }
                h3{
                    display: flex;
                    align-items: center;
                    color: $colorWhite;
                    margin-bottom:30px;
                    cursor: pointer;
                    @include min_max_width(0px, 767px){                        
                        align-items: flex-start;
                        justify-content: space-between;
                    }
                    span{
                        transition: all linear 0.5s;
                        img{
                            margin-left: 1.5rem;
                            transition: all linear 0.5s;
                            transform: rotate(180deg);
                            @include min_max_width(0px, 767px){
                                margin-left: 0;
                            }
                        } 
                        .rotateImg{                            
                            transform: rotate(0deg);
                        }                        
                    }               
                }
                .tabContent
                {                    
                    color: #D9D9D9;
                    display: none;
                    .tabBody{
                        padding: 20px 0 20px;
                        ul{
                            li{
                                font-size: 25px;
                                margin-bottom: 15px;
                            }
                        }
                    }
                    p, h4{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #C2C2C2;
                        @include min_max_width(0px, 767px){
                            font-size: 20px;
                        }
                    }                    
                }
            }
        }
    }
}
// partners List
.partnersList{
    .partners{
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-flow: wrap row;
        li{            
            width: 380px;
            height: 100px;
            border: 3px solid $colorWhite;
            border-radius: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            display: flex;
            flex-flow: wrap row;
            align-items: center;
            justify-content: center;
            margin: 20px 30px;
            &:nth-of-type(odd){
                margin-left: 0;
            }
            @include min_max_width(0px, 767px){
                margin: 25px 0;
                font-size: 30px;
            }
            a{   
                text-decoration: none;
                color: $colorWhite;
                @include min_max_width(0px, 767px){
                }
            }
        }
    }
}
.partnersActive{
    border: 3px solid $colorRed !important;
    pointer-events: none;
    cursor: no-drop;
}
#partnersOutlet
{
    position: relative;
    .typography:not(.active)
    {
        display: none; 
    } 
    .typography.active{
        display: block;
        transition: all linear 0.5s;
    }
}

// contactForm
.contactForm{
    label{
        font-weight: 400;
        font-size: 17.509px;
        line-height: 21px;
        text-transform: capitalize;        
        color: #C2C2C2;   
        @include min_max_width(0px, 767px){ 
            margin-left: 10px;
        }
    }
    input, textarea{
        border: 1.46882px solid rgba(255, 255, 255, 0.65);
        border-radius: 13.1317px;  
        background-color: transparent;

    }
    input{
        height: 73.54px;
    }
    textarea{
        height: 232.87px;
    }
    .form-check-input[type=checkbox]{
        width: 30.64px;
        height: 30.64px;
        border: 1px solid #C2C2C2;
        border-radius: 6.12813px;        
    }
}
.reachUs{    
    @include min_max_width(0px, 767px){ 
        .row{
            [class*='col-']{
                position: relative;
                &:nth-of-type(1){
                    order:1 !important;
                }
                &:nth-of-type(2){
                    order:2 !important;
                }
            }
        }
    }
}
// client Page
#clientWrap{
    position: relative;
    min-height: 650px;
    perspective: 1000px;
    transform-style: preserve-3d; 
    @include min_max_width(0px, 767px) {
        margin-bottom: 50px;
    }
    ul{
        height: 650px;
        display: flex;
        width:100%;
        li{         
            width: 350px;
            height: 580px;
            background: $colorBlack;
            border: 1px solid #FFFFFF;
            border-radius: 32px;
            display: flex;
            align-items: center;
            margin: 0 0 0 12%;
            position: absolute;
            bottom:0;
            left:50%;
            transform: translateX(-50%);
            &.active{
                // z-index: 99 !important;
            }
            @for $var from 1 through 3 {
               &:nth-of-type(#{$var}){
                    left: calc( 50% - #{$var} * 20px);
                    // z-index: -#{$var};
                    order: #{$var};
                    height: calc(580px + #{$var}*20px);
                    @include min_max_width(0px, 767px){
                        left:38%;
                    }
               } 
            }
            .slidertext{
                display: flex;
                flex-flow: wrap row;
                align-items: center;
                padding: 0 35px;
                // padding-top: 150px;
                // padding-bottom: 80px;
                h2{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    width: 100%;
                    margin-bottom: 20px;
                }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    color: #A6A6A6;
                    width: 100%;
                }
                .btn-group{
                    margin-top: 35px;
                }
                .btn-transparent{
                    a{
                        text-transform: capitalize;
                        padding: 15px 25px;
                   }
                }
            }
        }
        .arrowWrap{
            position: absolute;
            right: 0;
            top: 50%;
            // transform: translateY(-50%);
            width:50px;
            display: flex;
            flex-flow: wrap row;
            @include min_max_width(0px, 767px){
                bottom: -12%;
                top: inherit;
                flex-flow: inherit;
                left:50%;
                transform: translateX(-50%);
                width: 80px;
            }
            span{
                width: 100%;
                cursor: pointer;
                text-align: right;
                &:nth-of-type(1){
                    margin-bottom: 30px;
                }
                @include min_max_width(0px, 767px){                    
                    
                }
            }
        }
    }
}
.flipBack{    
    transform: translateX(-50%) rotateX(90deg) !important;
    transition: all linear 0.7s;
    transform-origin: top;
    left: 50% !important;
}
.flipResume{     
    transform: translateX(-50%) rotateX(0deg) !important;
    transition: all linear 0.7s;
    transform-origin: top;
}
// Modal
.modalBoxShadow{
    .modal-header{
        border-bottom: none;
        button{
            color: $colorWhite; 
            filter: invert(1);
        }
    }
    .modal-content{        
        border: 1.12524px solid $colorWhite;
        background-color: $colorBlack;
        filter: drop-shadow(0px 4px 140px #9C0006);
        color: $colorWhite;
        border-radius: 20px;
        padding: 50px;
        h4{
            font-style: normal;
            font-weight: 700;
            font-size: 36.0075px;
            margin-bottom: 30px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
        }
    }
}