footer{
    width: 100%;
    .footerPolicy{
        width: 100%;
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;            
            color: #C2C2C2;
            @include min_max_width(0px, 767px){
                font-size: 11px;
            }
            a{
                text-decoration: none;          
                color: #C2C2C2;
            }
        }
    }
    @include min_max_width(0px, 1024px){
        margin-top: 100px;
    }
}