*{margin:0; padding:0; box-sizing: border-box;}
// font-family: 'Inter', sans-serif;
@font-face {
    src: url(../fonts/PlusJakartaSans-ExtraBold.ttf);
    font-family: ExtraBold;
}
@font-face {
    src: url(../fonts/PlusJakartaSans-Bold.ttf);
    font-family: BoldFont;
}
@font-face {
    src: url(../fonts/PlusJakartaSans-Medium.ttf);
    font-family: MediumFont;
}
// html 
// {
//     height: 100%;
// }
*::first-letter{
    text-transform: uppercase;
}
body
{
    font-size: 100%;
    margin:0;
    padding:0;
    border: none;
    font-family: MediumFont;
    background-color: $colorBlack; 
    
}
.container
{
    // max-width:$container_width;
}
h2, h3, h4, label
{
    font-style: normal;
    // font-family: BoldFont;
}
h2
{       
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: $colorWhite;  
    margin-bottom: 50px;
    @include min_max_width(0px, 767px){ 
        font-size: 40px;
    } 
}
h3
{
    
}
h4
{    
//    color: $colorWhite;
    line-height: 4rem;
} 
p
{ 
    font-style: normal;
    font-weight: 400;
    font-size: 25px;    
    color: #C2C2C2;
    line-height: 2rem;
    word-spacing: 1px; 
    @include min_max_width(0px, 767px){ 
        
    } 
}