.about-us
{
    top:40px !important;
    .about-carousel
    {
        padding:  0 29px;
        width:100%;
        h2
        {
            font-family: 'Jura';
            font-style: normal;
            font-weight: 400;
            font-size: 48px; 
            color: $colorRed;
        }
        p
        {

        }

    }
}