.slider_wrap
{
    position: relative;
    display: flex;
    z-index: 98;
    
    .banner_text_wrap
    {
        width: 100%;
        top: 150px;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 100;
        p
        {
            color: rgba(255, 255, 255, 0.81);
        }
    }
}