.contact_wrap
{
    position: fixed;
    bottom: 0;
    right:0;
    padding:2rem;
    height: 172px;
    background: $blackColor;
    border-radius: 50px 0px 0px 0px;
    z-index: 999;

    @include min_max_width(0px, 767px)
    { 
        position: relative; 
        height: auto;
        border-radius: 0px;
    }
    .contact_info_text
    {
        h4, p
        {            
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.71);
        }
        h4
        {
            margin-bottom: 14px;
            margin-top: 42px;
        }

    }
    .footer_btn
    {        
        position: absolute;
        z-index: 9999;
        right: 0;
        bottom: 0;
        .comm_btn
        {            
        writing-mode: tb;
        border-radius: 0;
            a
            {                
                padding: 1.2rem 1rem;
            }
        }
    }
}
