<section class="aboutUs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bodyTextBlock">
                    <h1>Helvetia Capital <span>Trust AG</span></h1>
                    <h3 class="mt-md-4 pt-md-4 mb-4">A private financial trust company, HQ'd in 8001 - Zurich.</h3>
                    <p>Unlike the English; the Swiss prefer practicality in their Trusts.</p>

                    <p>We're a small company; serving a handful of clients from all corners of the map.</p>
                        
                    <p>We conduct sophisticated but simple research on long term investments. We're currently undergoing a licensing process in Switzerland; enabling us to conduct professionalized investing under the guidelines of FINMA.</p>
                        
                    <p>Drop your email here to get notified when we do. :)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-subscribe></app-subscribe>