<section class="contactFormWrap" id="getstart"> 
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="contentBlock">
                    <h3>Drop us a line!</h3>
                    <p>See How A Swiss Trust Can Protect your Assets & your Identity.</p>
                    <!-- <div class="buttons">
                        <a href="">Register</a>
                    </div> -->
                </div>
            </div>
            <div class="col-12 col-lg-6">                
                <div class="contactForm">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Enter Name">
                        <input type="email" name="" id="" placeholder="Email Address">
                        <textarea name="" id="" rows="10" placeholder="Message"></textarea>
                        <button type="submit" class="buttons">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>