<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subscribeForm">
                    <ul>
                        <li>
                            <input type="text" name="" id="" placeholder="Email address">
                        </li>
                        <li>
                            <button type="submit">submit</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>