<nav class="navigationBarWrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navigationBar">
                    <ul>
                        <li><a routerLink="/" routerLinkActive="linkActive" [routerLinkActiveOptions]="{exact: true}">home</a></li>
                        <li><a routerLink="/about-us" routerLinkActive="linkActive">about us</a></li>
                        <li><a routerLink="/what-we-do" routerLinkActive="linkActive">what we do</a></li>
                        <li><a routerLink="/get-in-touch" routerLinkActive="linkActive">get in touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>