.dropLine
{
    .dropLine_form
    {
        form#contact_form
        {
            input, textarea
            {
                background: transparent;
                border-radius: 10px;
                border: 2px solid #ffffff;
                &::placeholder
                {
                    text-transform: uppercase;
                    color: #b5b5b5;
                    font-size: 1rem;
                }
            }
            input
            {
                height: 60px;
            }
            textarea
            {
                height: 100px;
            }
        }
    }
}