.thumb_carousel
{
    width: 100%;

    .owlImg
    {
        position: relative;
        width: 80%;
        transition: all linear 0.5s;
        display: block;
        margin-bottom: 1rem;
        @include min_max_width(0px, 991px)
        {
            width: 100%;
            margin-bottom: 2rem;
            margin: 1rem auto;
        }

        .owl_text
        {
            position: absolute;
            top:50%;
            left:0;
            width: 100%;
            z-index: 99;
            transform: translateY(-50%);
            padding: 3rem;
            transition: all linear 0.5s;
            @include min_max_width(0px, 991px)
            {                
                padding: 1.8rem;
            }

            h4
            {
                color: $colorWhite;
                text-transform: capitalize;
                font-size: 1rem;
                transition: all linear 0.5s;
            }
            p
            {
                font-size: 0.82rem;
                margin: 0;
                font-weight: 300;
                transition: all linear 0.8s;
                @include min_max_width(0px, 991px)
                {                
                    font-size: 0.7rem;
                }
            }
        }
        &:hover
        {
            transform:scale(1.15);
            .owl_text
            {
                // transform: translateY(-50%) scale(1.2);
                // overflow-wrap: break-word;
                // h4
                // {
                //     transform:scale(1.5);
                // }
                //  p
                // {
                //     transform:scale(1.5);
                // }
               
            }
        }
    }
}
