.slider_outlet
{
    width:100%;
    display: block;
    padding:4rem 0;
    margin-top:calc(#{$min_height} + 150px);
    
    .slider_p{
        font-size: 2.3rem;
    }
    @include min_max_width(0px, 767px)
    {  
        padding:1rem 0;
        margin-top:calc(#{$min_height} - 70px);
        
        .sliderRightImg
        {
            margin-top: 2rem;
        }
        .row [class*='col-']:nth-of-type(1)
        {
            order:2;
        }
        .row [class*='col-']:nth-of-type(2)
        {
            order:1;
        }
    }
    
    .sliderText
    {
        @include min_max_width(0px, 767px)
        {
            margin-top: 2rem;  
        }
        .commonbtn
        {
            
        }
    }
    .sliderRightImg
    {
        background: url("../images/Ellipse.png") no-repeat bottom;
        perspective: 1000px;
        transform-style: preserve-3d;
        background-size: 100%;

        .imgRotate
        {
            img
            {
                animation-name: imgRotate;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function:ease-in-out;
                animation-fill-mode: both;
                padding-bottom: 2rem;
                display: block;
                margin: 0 auto;
            }
        }
    }
    @keyframes imgRotate {
        0% {
            transform: rotateY(0);
        }
    
        100% {
            transform: rotateY(180deg);
        }
    }
    
    @include min_max_width(768px, 991px)
    {   
        padding:1rem 0;
    }
}

.slider_btn
{ 
    max-width: 248px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    border-radius: 9px;
}
.owl-carousel .owl-stage-outer
{
    overflow: inherit;
}